:root {
    --body-bg-color: #5d4f71;
    --primary-color: #361a63;
    --primary-hover-color: #301757;
    --section-border-color: #dcdfdc;
    --title-color: #444;
}
html.login-pf {
    background: var(--body-bg-color);
}
.login-pf body {
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    background-color: var(--body-bg-color);
    background-image: none;
    font-size: 14px;
}
.login-pf-page {
    padding-top: 0;
    padding-bottom: 24px;
    background-color: var(--body-bg-color);
}
@media (min-width: 768px) {
    .login-pf-page .card-pf {
        padding: 20px 32px 20px 32px;
    }
}
.login-pf-page .login-pf-header h1 {
    font-size: 24px;
}
@media (min-width: 768px) {
    .login-pf-page .login-pf-header {
        margin-bottom: 10px;
    }
}
#kc-info-wrapper {
    background-color: transparent;
    padding: 0;
    text-align: left;
}
#kc-header-wrapper {
    padding: 56px 10px 8px;
    font-size: 2.1em;
    color: #FFF;
    text-align:center;
    text-transform: capitalize;
    line-height: 1.3;
    font-weight: 500;
}
@media (max-width: 767px) {
    #kc-header-wrapper {
        color: #FFF;
    }
}
#kc-site-name, #kc-system-type {
    font-size: 1.75em;
    color: #FFF;
    text-align: center;
    text-transform: capitalize;
    margin-top: 12px;
}
#kc-content-wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
#kc-header {
    margin-top: 0;
    margin-bottom: 24px;
}
#kc-page-title {
    text-align: center;
    font-weight: 500;
    color: var(--title-color);
    padding-bottom: 4px;
}
h1#kc-page-title {
    margin-top: 24px;
}
#kc-form {
    width: 100%;
}
#kc-form-buttons {
    margin-top:24px;
    text-align: center;
}
#kc-form-options .checkbox {
    display: none;
}
#kc-info {
    margin-top: 0;
    margin-bottom: 8px;
    margin-left: 0;
    margin-right: 0;
    color: #777;
}
.card-pf {
    background: #fff;
    margin: 0 auto;
    margin-bottom: 0px;
    padding: 0 20px;
    max-width: 420px;
    border-top: 0;
    box-shadow: 0 0 0;
    padding: 0 40px 40px;
    margin-top: 28px;
    margin-bottom: 32px;
}
.login-pf-page .card-pf {
    margin-bottom: 32px;
}
.alert {
    padding-left: 16px;
    padding-right: 16px;
}
.alert-error {
    color: #9b0202;
}
input[type="text"], input[type="password"] {
    display: block;
    width: 100%;
    height: 32px;
    padding: 2px 6px;
    font-size: 14px;
    line-height: 1.66666667;
    color: #363636;
    background-color: #fff;
    background-image: none;
    border: 1px solid #bbb;
    border-top-color: rgb(187, 187, 187);
    border-right-color: rgb(187, 187, 187);
    border-bottom-color: rgb(187, 187, 187);
    border-left-color: rgb(187, 187, 187);
    border-radius: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    margin-bottom: 24px;
    box-sizing:border-box;
}
input[type="submit"] {
    background-image: none;
    background-color: var(--primary-color);
    padding: 16px;
    width: 100%;
    font-size: 16px;
    color: #FFF;
    box-sizing: border-box;
    box-shadow: none;
    border: 0;
    display: block;
}
input[type="submit"]:hover {
    background-color: var(--primary-hover-color);
}
a {
    color: #1994d0;
    text-decoration: none;
}
a:hover {
    color: #177daf;
}
label {
    font-weight: 500;
    display: inline-block;
    font-size: 14px;
    margin-bottom: 4px;
    color: #635f5f;
}
.card-pf form.form-actions .btn {
    margin-bottom: 16px;
}
.btn {
    border-radius: 24px;
}
.btn-primary {
    background-image: none;
    background-color: var(--primary-color);
    border: 0;
    border-radius: 24px;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
    background-color: var(--primary-hover-color);
}
.kc-social-links {
    padding: 0;
    list-style-type: none;
    border-top: 1px solid var(--section-border-color);
}
.kc-social-links li {
    margin-top: 8px;
    margin-bottom: 8px;
}
a.zocial {
    color: var(--primary-color);
    text-shadow: none;
    background-image: none;
    background-color: #FFF;
    border: 1px solid var(--primary-color);
    text-shadow: none;
}
a.zocial:hover,
a.zocial:active,
a.zocial:focus {
    background-image: none;
    background-color: var(--primary-hover-color);
    color: #FFF;
}
a.zocial.saml {
    background-color: #4b2e83;
    color: #FFF;
    border: 0;
}
a.zocial.saml:hover,
a.zocial.saml:active,
a.zocial.saml:focus {
    background-color: #301e56;
}
